# Copy this file to .env and fill in your API keys
DEFAULT_PROVIDER=OpenAI GPT-4o
OPENAI_MODEL=gpt-4o-mini
GEMINI_MODEL=gemini-1.5-flash
CHARTGEMMA_MODEL=ahmed-masry/chartgemma

# OpenAI (or OpenRouter) for GPT-4o / gpt-4o-mini
OPENAI_API_KEY=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

# Google Gemini
GOOGLE_API_KEY=AIzaSyAYgpllP_6k8jqtH81c-4f78Rorkv_AmVA
